<p>home works!</p>
<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div
    class="firstCards-movies"
    *ngFor="let cardBack of cardSliderSupport"
    [ngStyle]="{ 'background-image': 'url(' + cardBack.url + ')' }"
  >
    {{ cardBack.name }}
  </div>
</div>
<ul></ul>
<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>
