<p>home works!</p>
<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div
    class="firstCards-movies"
    [ngStyle]="{ background: cardBack.url }"
    *ngFor="let cardBack of cardsSlider"
  >
    {{ cardBack.name }}
  </div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>

<h3 style="color: aliceblue">GENRE</h3>
<div class="cards-container">
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
  <div class="cards-movies">a</div>
</div>
